<%- include('../partials/header') %>

   <div class="container">
       <div class="top-badge">
           <h1>Welcome to CoMeds :)</h1>
           <p>Sell your products here and help the community in need!!!</p>
       </div>
   </div>
   <div class="container">
       <a href="/products/new"><button type="button" class="btn btn-dark">Add a product</button></a>
       <br>
   </div>

    <div class="container">
        <h2> Here is a list of products added by you!!!</h2>

        <div class="row">
            <% seller.createdProducts.forEach(function(product) { %>
                <div class="col-lg-4 col-sm-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            <%= product.name %>
                        </div>
                        <img src="<%= product.images[0] ?  product.images[0].url : '' %>" alt="Product Image"
                            class="card-img-top" style="height: 18rem;">
                        <div class="card-body">
                            <p>
                                <span class="badge bg-info text-dark">Category: <%= product.category %></span>
                            </p>
                            <p>
                                Qty. Avl.:  <%= product.qtyAvl %>
                            </p>
                            <p>
                                ₹ <%= product.price %>
                            </p>
                            <a href='/products/<%= product._id %>/edit'><button class="btn btn-primary">Edit
                                Product</button>
                            </a>
                            <form action='/products/<%= product._id %>?_method=DELETE' method='POST'>
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
<%- include('../partials/footer') %>